<mat-toolbar class=" text-white justify-content-evenly mb-2" color="primary">  
  <mat-toolbar-row>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon> 
    </button>

    <p class="mx-auto">  {{ title }} </p>

      <mat-menu #menu="matMenu" class="bg-dark">
          <ng-container *ngFor="let link of links">
            <button mat-menu-item class="text-white" routerLinkActive="active" routerLink="{{ link.href }}">{{ link.name }}</button>
          </ng-container>
      </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<main class="container" style="margin-bottom: 15px;">
<router-outlet></router-outlet>
</main>

<footer class="text-center bg-black text-white p-3">
  <span>Copyright 2024</span>
</footer> 