body {
    overflow: hidden; 
  }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
<<<<<<< HEAD
=======

  .margin-bottom-15{
    margin-bottom: 15px;
  }
>>>>>>> feature/new-feature
