
.app-movies-inline-block{
    display: inline-block;
}

.app-movies-card {
    max-width: 400px;
  }

  .progress-spinner-container {
    width: 100%; 
    height: 500px;
    padding-top: 50px; 
    text-align: center;
}


.title-text{
  color:#673ab7;
}



  